<h3>Search for Flights</h3>

<%#= form_with(model: @flight, url: flights_path, method: :get, local: true) do |form| %>
<%= render 'search_form', flight: @flight %>

<br>

<%= render 'flights', flights: @flights %>

