/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
  margin:0;
  padding:0;
  width:100%;
  /* background-image: linear-gradient(45deg,#e2e6ea, #dfedef, #eff5fc); */
  background-image: linear-gradient(45deg,#f9fcff, #f1fbfd, #eff5fc);
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 400;
}

/* table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
} */

/* th, td {
  padding: 15px;
} */


/* header */

header {
  display: flex;
  justify-content: space-between;
  height: 7vh;
  background-color: #7190af6b;
  background-image: linear-gradient(45deg, #3c4e5d, #afd8ec85);
  /* padding: 5px; */
  box-sizing: border-box;
}

.header-left {
  display: flex;
}

.header-button {
  background-color: transparent;
  border: none;
  height: 100%;
  padding: 1vw;
  font-size: 15px;
}

.header-button:hover {
  background: rgba(0, 0, 0, .1);
  cursor: pointer;
}

.header-button:focus {
  outline: none;
}

.header-item {
  color: white;
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 700;
  letter-spacing: 1px;
}

.header-item:hover {
  text-decoration: none;
}

.border-right {
  border-right: 1px solid rgba(0, 0, 0, 0.171);
}

.border-left {
  border-left: 1px solid rgba(0, 0, 0, 0.171);
}

.title {
  font-family: 'Tangerine', cursive;
  font-size: 32px;
}

ion-icon {
  font-size: 27px;
  color: white;
  transform: rotate(-33deg);
}

/* container for pages other than root */

.page-body {
  min-height: 89vh;
  padding: 1vh 5vw 2vw 5vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

/* flash */

.flash-container {
  background-color: #7c7aff4f;
}

#notice {
  padding: 1vh;
  color: rgb(22, 129, 76);
  font-family: verdana, arial, helvetica, sans-serif;
}

.alert {
  padding: 1vh;
  color: black;
  font-family: verdana, arial, helvetica, sans-serif;
}

/* links */

a {
  text-decoration: none;
  color: #385898;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

a:visited {
  text-decoration: none;
}

/* submit, create, edit, cancel, etc. */

.important-button {
  background-color: #4267b27c !important;
  border-radius: 10px;
  padding: 1vh !important;
}

.important-button:hover {
  background-color: #4267b2 !important;
  color: white;
}

.important-button:focus {
  outline: none;
  background-color: #2758bb !important;
  box-shadow: 1px 3px 8px #6681a7d1;
  color: white;
}

.cancel {
  background-color: #f56d6d !important;
  border-radius: 10px;
  padding: 1vh !important;
}

.cancel:hover {
  background-color: #960101 !important;
  color: white;
}

.cancel:focus {
  outline: none;
  background-color: #3a0000 !important;
  box-shadow: 1px 3px 8px #6681a7d1;
  color: white;
}

/* shared between events and invitations */

.past {
  background-color: #d8d8d8;
}

/* page titles */

.page-title-container {
  width: 85%;
  margin: 0 auto 2vh auto;
}

h1 {
  padding: 8px;
  font-family: 'Piazzolla', serif;
  font-size: 3em;
}

/* e.g. 'back' link at end of page */

.end-link {
  margin: auto 0 0 0;
}